In [117]:
import pandas as pd
import string
import nltk
import numpy as np
import sklearn
import seaborn as sns
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split
from scipy.sparse import hstack
from sklearn.metrics import classification_report,accuracy_score

In [2]:
# Load dataset from metadata file
file=open("/media/spaggy/New Volume/Sem VI/ML/Project/YelpZip/metadata")
data=file.readlines()
file.close()
for ind in range(len(data)):
    data[ind]=data[ind].split()

In [3]:
# Load reviews from reviewcontent file
file2=open("/media/spaggy/New Volume/Sem VI/ML/Project/YelpZip/reviewContent")
text=file2.readlines()
file2.close()
for i in range(len(text)):
    text[i]=text[i].split("\t")
text=[t[3] for t in text]

In [4]:
Dataset=pd.DataFrame(data,columns=["user_id",'product_id','rating','label','date'])
Dataset["review_text"]=text

In [9]:
Dataset.shape

(608598, 7)

In [5]:
Dataset['rating']=Dataset['rating'].astype('float')
Dataset['date']=pd.to_datetime(Dataset['date'])
Dataset['day']=Dataset['date'].dt.day_name()

In [31]:
Dataset.head()

,user_id,product_id,rating,label,date,review_text,day
0,5044,0,1.0,-1,2014-11-16,"Drinks were bad, the hot chocolate was watered...",Sunday
1,5045,0,1.0,-1,2014-09-08,This was the worst experience I've ever had a ...,Monday
2,5046,0,3.0,-1,2013-10-06,This is located on the site of the old Spruce ...,Sunday
3,5047,0,5.0,-1,2014-11-30,I enjoyed coffee and breakfast twice at Toast ...,Sunday
4,5048,0,5.0,-1,2014-08-28,I love Toast! The food choices are fantastic -...,Thursday

### Split train-test dataset

In [30]:
y=pd.DataFrame({'label':Dataset["label"]})
x=Dataset.drop(['label'],axis=1)
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

### Hand Crafted Features

In [34]:
# X_train['upper_case_word_count']=X_train['review_text'].apply(lambda x:len([y for y in x.split() if y) )
#Train Dataset
#Review centric features
X_train['word_count']=X_train['review_text'].apply(lambda x: len(x.split()))
X_train['punctuation_count']=X_train['review_text'].apply(lambda x: len(''.join(c for c in x if c in string.punctuation)))
X_train['char_count']=X_train['review_text'].apply(lambda x: len(x))
X_train['title_count']=X_train['review_text'].apply(lambda x: len([word for word in x.split() if word.istitle()]))
print("-----------review_centric features extracted-------------/")
# user-centric features
X_train['user_id_no_of_review'] = X_train.groupby('user_id')['user_id'].transform('size')
X_train['user_id_ave_rating'] = X_train.groupby('user_id')['rating'].transform('mean')
X_train['user_id_ave_no_words'] = X_train.groupby('user_id')['word_count'].transform('mean')
X_train['user_id_max_review_a_day'] = X_train.groupby(['user_id','day'])['user_id'].transform('size')
print("-----------user_centric features extracted-------------/")
#Product centric feature
X_train['product_id_no_of_review']=X_train.groupby('product_id')['product_id'].transform('size')
X_train['product_id_ave_rating']=X_train.groupby('product_id')['rating'].transform('mean')
X_train['product_id_ave_no_of_words']=X_train.groupby('product_id')['word_count'].transform('mean')
X_train['product_id_max_review_a_day']=X_train.groupby(['product_id','day'])['user_id'].transform('size')
print("-----------product_centric features extracted-------------/\n\n")

#Test dataset
X_test['word_count']=X_test['review_text'].apply(lambda x: len(x.split()))
X_test['punctuation_count']=X_test['review_text'].apply(lambda x: len(''.join(c for c in x if c in string.punctuation)))
X_test['char_count']=X_test['review_text'].apply(lambda x: len(x))
X_test['title_count']=X_test['review_text'].apply(lambda x: len([word for word in x.split() if word.istitle()]))
print("-----------review_centric features extracted-------------/")
# user-centric features
X_test['user_id_no_of_review'] = X_test.groupby('user_id')['user_id'].transform('size')
X_test['user_id_ave_rating'] = X_test.groupby('user_id')['rating'].transform('mean')
X_test['user_id_ave_no_words'] = X_test.groupby('user_id')['word_count'].transform('mean')
X_test['user_id_max_review_a_day'] = X_test.groupby(['user_id','day'])['user_id'].transform('size')
print("-----------user_centric features extracted-------------/")
#Product centric feature
X_test['product_id_no_of_review']=X_test.groupby('product_id')['product_id'].transform('size')
X_test['product_id_ave_rating']=X_test.groupby('product_id')['rating'].transform('mean')
X_test['product_id_ave_no_of_words']=X_test.groupby('product_id')['word_count'].transform('mean')
X_test['product_id_max_review_a_day']=X_test.groupby(['product_id','day'])['user_id'].transform('size')
print("-----------product_centric features extracted-------------/")

-----------review_centric features extracted-------------/
-----------user_centric features extracted-------------/
-----------product_centric features extracted-------------/


-----------review_centric features extracted-------------/
-----------user_centric features extracted-------------/
-----------product_centric features extracted-------------/

### Text Preprocessing

In [72]:
#Function for expanding all the contractions in the paragraph
with open("Contractions.json",'r') as file:
   Contractions=json.load(file)
c_re = re.compile('(%s)' % '|'.join(Contractions.keys()))

def expandContractions(text, c_re=c_re):
    def replace(match):
        return Contractions[match.group(0)]
    return c_re.sub(replace, text)

In [ ]:
# lowercase,remove digits,punctuations,expand contractions,stopwords and lemmatization
stop_words = stopwords.words('english')
lemmatizer = WordNetLemmatizer()
X_train['review_text']=X_train['review_text'].apply(lambda x: x.decode('utf-8','ignore'))
X_train['review_text']=X_train['review_text'].apply(lambda x: expandContractions(x))
X_train['review_text']=X_train['review_text'].apply(lambda x:x.lower())   #Convert into lowercase
X_train['review_text']=X_train['review_text'].apply(lambda x : ''.join([c for c in x if not c.isdigit()])) #Remove numeric digits
X_train['review_text']=X_train['review_text'].apply(lambda x:  ''.join([c for c in x if c not in string.punctuation]))  # Remove punctuations
X_train['review_text']=X_train['review_text'].apply(lambda x: ' '.join([word for word in word_tokenize(x) if word not in stop_words]))
X_train['review_text']=X_train['review_text'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in word_tokenize(x)]))

# Test Dataset
X_test['review_text']=X_test['review_text'].apply(lambda x: x.decode('utf-8','ignore'))
X_test['review_text']=X_test['review_text'].apply(lambda x: expandContractions(x))
X_test['review_text']=X_test['review_text'].apply(lambda x:x.lower())   #Convert into lowercase
X_test['review_text']=X_test['review_text'].apply(lambda x : ''.join([c for c in x if not c.isdigit()])) #Remove numeric digits
X_test['review_text']=X_test['review_text'].apply(lambda x:  ''.join([c for c in x if c not in string.punctuation]))  # Remove punctuations
X_test['review_text']=X_test['review_text'].apply(lambda x: ' '.join([word for word in word_tokenize(x) if word not in stop_words]))
X_test['review_text']=X_test['review_text'].apply(lambda x: ' '.join([lemmatizer.lemmatize(word) for word in word_tokenize(x)]))

In [33]:
pd.set_option('mode.chained_assignment', None)

In [47]:
X_train

,user_id,product_id,rating,date,review_text,day,word_count,punctuation_count,char_count,title_count,user_id_no_of_review,user_id_ave_rating,user_id_ave_no_words,user_id_max_review_a_day,product_id_no_of_review,product_id_ave_rating,product_id_ave_no_of_words,product_id_max_review_a_day
353682,185036,3085,1.0,2013-02-20,star one overrated new hipster spot montclair,Wednesday,12,2,68,3,1,1.000000,12.000000,1,178,4.202247,102.719101,22
313172,41781,1433,5.0,2014-04-15,came last friday wedding rehearsal dinner exce...,Tuesday,78,10,419,6,5,4.600000,73.400000,3,875,3.864000,129.496000,119
105323,34537,4922,5.0,2014-07-09,dear cucina zapata please forgive strayed in f...,Wednesday,206,26,1087,27,3,4.000000,244.000000,1,96,4.708333,121.833333,20
338630,46438,2940,4.0,2007-12-23,yes name address may take little effort reserv...,Sunday,178,20,922,14,4,3.250000,104.500000,3,42,4.761905,194.523810,8
126404,36282,1153,3.0,2014-12-14,high hope brunch cafe ghia felt food okay two ...,Sunday,68,13,368,10,4,4.500000,100.500000,3,181,3.883978,101.928177,38
210174,128176,1222,5.0,2013-06-26,im gluten intolerant eating tricky havent thai...,Wednesday,54,8,271,8,1,5.000000,54.000000,1,496,3.826613,125.175403,69
403531,202275,437,1.0,2012-10-21,food bland dry ordered chef medley garlic bok ...,Sunday,52,11,277,9,1,1.000000,52.000000,1,132,3.643939,104.446970,22
468328,195527,3888,4.0,2014-07-06,small little restaurant hell kitchen area huge...,Sunday,27,6,169,5,2,4.000000,26.500000,1,1035,4.019324,101.642512,159
503706,139576,4169,4.0,2011-01-11,near credit suisse meeting stopped see hype we...,Tuesday,86,13,440,16,4,4.250000,87.500000,3,144,4.312500,85.076389,25
516681,8410,4299,3.0,2011-07-10,wonderful dinner food coma induced stroke like...,Sunday,338,58,1851,32,31,3.645161,209.838710,13,526,4.309886,149.674905,64
278807,12370,2409,5.0,2014-02-07,adriennes league come pizza pizza might well d...,Friday,103,15,557,9,24,4.208333,145.916667,3,543,3.790055,100.661142,79
94831,71130,863,4.0,2012-09-16,yummmmmy good curry tonkatsu fried pork recomm...,Sunday,10,5,70,5,2,4.500000,15.500000,1,645,4.046512,102.793798,83
553256,156017,4658,5.0,2014-10-21,great lunch hubby place good food drink also m...,Tuesday,19,1,100,2,2,4.500000,18.000000,1,54,3.740741,94.092593,7
12668,16803,646,5.0,2012-10-19,looking good place take boyfriend birthday sis...,Friday,125,16,703,11,3,4.333333,92.666667,1,778,3.970437,124.356041,95
482334,227525,4000,4.0,2014-11-24,place extremely small reviewer said small didn...,Monday,68,18,369,9,1,4.000000,68.000000,1,74,3.972973,108.337838,17
34194,8079,280,4.0,2010-07-19,alright cantina youve stolen heart completely ...,Monday,78,14,439,8,18,4.000000,440.888889,4,448,3.540179,116.470982,76
290841,161522,2526,4.0,2014-03-28,great food incredible portion pleasant staff r...,Friday,12,4,87,2,1,4.000000,12.000000,1,56,2.303571,103.785714,6
290080,24320,2159,5.0,2012-09-04,every time pas cart broadway come close orderi...,Tuesday,122,15,644,13,4,4.500000,134.000000,2,341,4.457478,96.293255,45
451251,218066,3136,4.0,2007-10-22,crust die forthe cheese taste like real cheese...,Monday,16,4,83,1,1,4.000000,16.000000,1,2733,3.724113,111.120381,489
84409,56184,2642,4.0,2014-01-28,beyond sushi started guy vaknin former contest...,Tuesday,555,69,2960,73,38,4.078947,535.315789,8,407,4.547912,103.022113,58
12805,16920,646,5.0,2012-01-20,restaurant amazing cocktail unique delicious o...,Friday,107,19,571,8,2,5.000000,71.500000,2,778,3.970437,124.356041,95
579198,256976,4814,5.0,2010-12-25,masa far hippest eatery around food magnificen...,Saturday,52,7,257,3,1,5.000000,52.000000,1,43,4.255814,104.720930,5
263692,150539,2265,5.0,2014-05-21,food great onion ring hush puppy perfect start...,Wednesday,41,11,243,5,1,5.000000,41.000000,1,1177,3.818182,129.776551,180
391843,198498,3314,2.0,2009-01-27,well pizza fine socalled caesar salad dressing...,Tuesday,89,17,449,11,1,2.000000,89.000000,1,592,4.109797,103.108108,73
466856,222508,3879,5.0,2011-11-07,wife booked hotel concert birthday searching o...,Monday,331,42,1792,43,1,5.000000,331.000000,1,23,3.347826,155.782609,3
105875,77424,958,2.0,2014-01-28,disappointed good atmosphere good came cold bi...,Tuesday,33,7,193,5,1,2.000000,33.000000,1,283,3.533569,114.021201,41
260950,12875,2223,3.0,2009-08-07,lot grease fat make yummy meal impressive one ...,Friday,26,2,136,2,9,3.333333,59.444444,4,1306,4.260337,73.249617,190
506680,15649,4183,5.0,2011-12-20,certainly one new favorite place came tuesday ...,Tuesday,297,55,1655,25,9,4.111111,217.888889,3,414,4.028986,115.171498,67
518689,238807,4321,3.0,2009-08-22,review people thought would good mexican place...,Saturday,86,15,437,15,2,3.500000,60.500000,1,81,3.925926,101.259259,12
417693,15997,1364,3.0,2008-07-08,there nothing like humid summer day frozen moj...,Tuesday,238,46,1255,21,3,3.666667,253.333333,1,463,3.829374,98.874730,70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343592,10589,3846,1.0,2011-10-26,definitely extensive beer list doubt easily fi...,Wednesday,121,20,683,14,2,3.000000,237.000000,1,134,3.574627,131.723881,17
571378,49393,4743,4.0,2009-04-09,enjoy going eat much anyonebut last time check...,Thursday,106,22,555,16,4,3.750000,124.250000,1,684,3.807018,91.336257,93
490037,43247,4083,4.0,2011-04-01,definitely incredibly delicious ball today get...,Friday,258,52,1512,24,3,4.000000,265.000000,2,1578,4.013942,128.253485,191
229070,29281,1905,1.0,2013-12-01,lunch disappointed food low quality specifical...,Sunday,42,18,228,0,4,2.250000,49.500000,1,176,3.875000,113.534091,32
311691,169713,4597,5.0,2013-08-26,seriously michelangelo wonderful dominick wond...,Monday,26,7,163,2,1,5.000000,26.000000,1,31,3.645161,148.516129,6
248853,41512,2147,5.0,2011-08-22,great brunch breakfast pizza prosciutto easy e...,Monday,112,21,634,12,2,5.000000,207.000000,1,175,4.005714,110.554286,31
283197,69523,3691,2.0,2013-02-22,totally boring totally standard strip mall spo...,Friday,84,10,443,5,4,2.750000,39.000000,2,27,2.777778,124.111111,5
501389,233487,3582,5.0,2014-07-22,always get symphony pasta always leave happy w...,Tuesday,27,3,140,3,1,5.000000,27.000000,1,1222,3.788871,126.190671,158
540954,12853,3528,4.0,2009-07-15,good beer selection,Wednesday,3,1,21,1,11,3.545455,65.000000,1,331,3.734139,105.876133,54
393033,198815,3315,4.0,2009-05-06,excellent burger cool vibe definitely recommen...,Wednesday,8,3,63,2,5,4.000000,43.600000,2,279,3.971326,103.465950,54
91691,27532,828,4.0,2010-10-25,italian supermarket restaurant one near work a...,Monday,98,8,517,8,32,3.968750,100.093750,4,2106,3.714150,123.678063,372
448288,216880,3806,4.0,2012-02-06,heard great review went brunch weekend food am...,Monday,35,6,207,0,1,4.000000,35.000000,1,306,3.950980,122.722222,50
582041,143299,1926,3.0,2014-12-02,ive always wanted give place try always hear g...,Tuesday,110,29,576,13,2,4.000000,118.500000,2,18,4.277778,89.555556,6
587850,47134,3951,4.0,2012-05-07,roll yesterday ordered pork banh mi simply awe...,Monday,49,8,264,10,4,3.750000,78.250000,1,175,4.234286,81.491429,27
287537,59440,3994,2.0,2013-03-11,fair normally eat chain restaurant due uninspi...,Monday,129,20,682,14,4,3.500000,113.500000,1,105,3.342857,103.942857,17
36036,6955,3866,3.0,2013-08-15,descriptive phrase cheap quick pizza diner sto...,Thursday,115,30,633,14,3,2.666667,198.333333,1,81,3.419753,78.444444,23
260125,149099,2223,4.0,2012-12-13,many falafel time including made finally time ...,Thursday,103,16,498,10,2,4.000000,54.500000,1,1306,4.260337,73.249617,163
207646,25325,1848,5.0,2013-12-18,love place it list one top ramen place nyc put...,Wednesday,122,21,639,8,3,4.000000,199.666667,1,794,3.876574,123.837531,103
72100,10588,635,4.0,2011-12-17,delightfully ominous atmosphere get every time...,Saturday,46,5,280,6,30,3.400000,98.133333,4,51,3.607843,85.980392,11
40802,38052,358,5.0,2013-09-17,go sandwich place montclair even make mozzarel...,Tuesday,22,4,124,3,8,3.750000,31.500000,4,53,4.622642,78.716981,8
271715,153799,2337,5.0,2009-08-14,best secret spacious old world rustic dude mak...,Friday,42,8,252,11,3,4.666667,48.000000,1,336,3.875000,116.252976,53
558578,110975,4692,5.0,2011-07-11,came twice brunch lunch time left satisfied ha...,Monday,160,25,870,13,4,4.500000,180.250000,3,959,4.037539,104.655892,173
463606,221606,3876,3.0,2013-09-24,star better gen o like sitting picnic table wa...,Tuesday,29,2,157,1,1,3.000000,29.000000,1,2047,3.293600,85.458232,329
208327,127408,1848,3.0,2009-11-16,eat lot ramen this place right setagaya book b...,Monday,54,11,282,7,2,4.000000,127.500000,2,794,3.876574,123.837531,123
210633,128381,1014,5.0,2012-09-27,excellent mole enchilada best ive huge fan al ...,Thursday,50,11,289,7,2,3.000000,172.000000,2,76,3.960526,98.592105,7
105090,76941,947,5.0,2014-07-06,food service price fantastic one favorite rest...,Sunday,37,9,213,6,4,5.000000,107.500000,1,101,4.465347,77.861386,16
453652,22130,3136,5.0,2010-09-28,probably best pizza eaten till date little pri...,Tuesday,41,6,219,5,8,3.625000,79.625000,4,2733,3.724113,111.120381,425
4885,9862,28,4.0,2009-02-09,youve tom it great experience know youre getti...,Monday,165,36,903,13,2,4.500000,92.500000,1,565,4.097345,112.500885,102
444620,28109,3782,5.0,2009-12-16,important goal life achievable delicious goal ...,Wednesday,178,33,946,21,14,4.214286,143.642857,2,332,4.475904,104.183735,55
426701,209989,3677,5.0,2013-02-14,luv luv luv food delicious waiter awesome cant...,Thursday,20,6,99,2,1,5.000000,20.000000,1,649,3.964561,121.480740,69

### Model

### Classification on Processed review text

In [96]:
# Count vectorizer for review_text
count_vect=CountVectorizer(analyzer='word')
count_vect.fit(X_train.review_text)
feature_vector_train=count_vect.transform(X_train.review_text)
feature_vector_test =count_vect.transform(X_test.review_text)
#Count Vectorizer for day
count_vect_=CountVectorizer(analyzer='word')
count_vect_.fit(X_train.day)

CountVectorizer(analyzer='word', binary=False, decode_error=u'strict',
        dtype=<type 'numpy.int64'>, encoding=u'utf-8', input=u'content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words=None,
        strip_accents=None, token_pattern=u'(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [111]:
# Count vectors + Features
feature_vector_train=hstack((feature_vector_train,np.array(X_train["user_id_no_of_review"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["user_id_ave_rating"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["user_id_ave_no_words"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["user_id_max_review_a_day"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["product_id_no_of_review"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["product_id_ave_rating"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["product_id_ave_no_of_words"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["product_id_max_review_a_day"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["word_count"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["punctuation_count"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["char_count"])[:,None]))
feature_vector_train=hstack((feature_vector_train,np.array(X_train["title_count"])[:,None]))
feature_vector_train=hstack((feature_vector_train,count_vect_.transform(X_train["day"])))

feature_vector_test=hstack((feature_vector_test,np.array(X_test["user_id_no_of_review"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["user_id_ave_rating"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["user_id_ave_no_words"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["user_id_max_review_a_day"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["product_id_no_of_review"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["product_id_ave_rating"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["product_id_ave_no_of_words"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["product_id_max_review_a_day"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["word_count"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["punctuation_count"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["char_count"])[:,None]))
feature_vector_test=hstack((feature_vector_test,np.array(X_test["title_count"])[:,None]))
feature_vector_test=hstack((feature_vector_test,count_vect_.transform(X_test["day"])))

In [112]:
LR= LogisticRegression()
LR.fit(feature_vector_train,y_train)
predictions_train=LR.predict(feature_vector_train)
y_pred=LR.predict(feature_vector_test)

/home/spaggy/.local/lib/python2.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/home/spaggy/.local/lib/python2.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [110]:
feature_vector_test

<182580x264573 sparse matrix of type '<type 'numpy.float64'>'
	with 14358599 stored elements in COOrdinate format>

In [115]:
print(classification_report(y_train,predictions_train))

print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

          -1       0.65      0.05      0.10     56387
           1       0.87      1.00      0.93    369631

   micro avg       0.87      0.87      0.87    426018
   macro avg       0.76      0.52      0.51    426018
weighted avg       0.84      0.87      0.82    426018

              precision    recall  f1-score   support

          -1       0.19      0.41      0.26     24079
           1       0.89      0.74      0.81    158501

   micro avg       0.70      0.70      0.70    182580
   macro avg       0.54      0.58      0.54    182580
weighted avg       0.80      0.70      0.74    182580

In [118]:
print("Accuracy of LR on train dataset:",accuracy_score(y_train,predictions_train))
print("Accuracy of LR on test dataset :",accuracy_score(y_test,y_pred))

('Accuracy of LR on train dataset:', 0.8707378561469233)
('Accuracy of LR on test dataset :', 0.6965713659765582)

### Classification on Processed review text

In [119]:
# count_vect=CountVectorizer(analyzer='word')
# count_vect.fit(X_train.review_text)
X_train_count=count_vect.transform(X_train.review_text)
X_test_count =count_vect.transform(X_test.review_text)

LR= LogisticRegression()
LR.fit(X_train_count,y_train)
predictions_train=LR.predict(X_train_count)
predictions_test=LR.predict(X_test_count)

In [120]:
print(classification_report(y_train,predictions_train))

print(classification_report(y_test,predictions_test))

              precision    recall  f1-score   support

          -1       0.88      0.19      0.31     56387
           1       0.89      1.00      0.94    369631

   micro avg       0.89      0.89      0.89    426018
   macro avg       0.89      0.59      0.62    426018
weighted avg       0.89      0.89      0.86    426018

              precision    recall  f1-score   support

          -1       0.14      0.49      0.22     24079
           1       0.88      0.56      0.68    158501

   micro avg       0.55      0.55      0.55    182580
   macro avg       0.51      0.52      0.45    182580
weighted avg       0.78      0.55      0.62    182580

In [121]:
print("Accuracy of LR on train dataset:",accuracy_score(y_train,predictions_train))
print("Accuracy of LR on test dataset :",accuracy_score(y_test,predictions_test))

('Accuracy of LR on train dataset:', 0.8892042120285998)
('Accuracy of LR on test dataset :', 0.5489703143827364)

### Classification on review text

In [129]:
count_vect=CountVectorizer(analyzer='word')
count_vect.fit(X_train.review_text)
X_train_count=count_vect.transform(X_train.review_text)
X_test_count =count_vect.transform(X_test.review_text)

LR= LogisticRegression()
LR.fit(X_train_count,y_train)
predictions_train=LR.predict(X_train_count)
predictions_test=LR.predict(X_test_count)

In [133]:
print(classification_report(y_train,predictions_train))

print(classification_report(y_test,predictions_test))

              precision    recall  f1-score   support

          -1       0.83      0.17      0.29     56193
           1       0.89      0.99      0.94    369825

   micro avg       0.89      0.89      0.89    426018
   macro avg       0.86      0.58      0.61    426018
weighted avg       0.88      0.89      0.85    426018

              precision    recall  f1-score   support

          -1       0.40      0.08      0.13     24273
           1       0.87      0.98      0.93    158307

   micro avg       0.86      0.86      0.86    182580
   macro avg       0.64      0.53      0.53    182580
weighted avg       0.81      0.86      0.82    182580

In [131]:
print(accuracy_score(y_train,predictions_train))

0.8863850823204653

In [132]:
print(accuracy_score(y_test,predictions_test))

0.862115237156315

In [128]:
y=pd.DataFrame({'label':Dataset["label"]})
x=Dataset.drop(['label'],axis=1)
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.3)